@import url("global.css");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.navbar {
  padding: var(--nav-padding);
  background:     #F5FAFE;
  z-index: 111;
  position: fixed;
  width: 100%;
}

.navbar,
.navbar .navs ul,
.hero,
.hero .upper-text .google-text .google,
.hero .upper-text .google-text .google .star,
.home .about-us,
.training .head,
.home .feedback .google,
.home .feedback .google .star, .footer .pvts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navs ul li,
.side-bar ul li {
  margin-right: var(--list-margin-right);
  list-style: none;
}
.drop-menu {
  display: none !important;
  position: absolute;
  background: #F5FAFE;
}
.drop-menu li {
  padding: 0.5rem !important;
}
.service:hover .drop-menu {
  display: block !important;
}
.service:hover #dropdown{
  transform: rotateX(180deg); 
transition: transform 0.5s ease;
}
.side-menu{
  display: none;
}
.contact-button-container {
  text-align: center;
  /* margin: 50px; */
}

.contact-button {
  background: #007BFF;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button:hover {
  background: #0056b3;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black with transparency */
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content textarea {
  resize: none;
  height: 100px;
}

.modal-content .btn-container {
  display: flex;
  justify-content: space-between;
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-button {
  background: #ccc;
  color: black;
}

.cancel-button:hover {
  background: #aaa;
}

.submit-button {
  background: #007BFF;
  color: white;
}

.submit-button:hover {
  background: #0056b3;
}

.navbar .navs ul li a,
.navbar .button a button,
.side-bar ul li a,
.side-bar .button a,
.footer .container .box .email,
.footer .container .box p a,
.footer .container .box p, .footer .container .box ul li a {
  font-family: var(--nav-font-family);
  font-size: var(--nav-font-size);
  font-weight: var(--nav-font-weight);
  line-height: var(--nav-font-height);
  text-decoration: none;
  color: #1B1C1D !important;
}
.service-box a{
  text-decoration: none;
  margin-bottom: 1rem;
}
.navbar .button button,
.side-bar button,.modal-content form button {
  cursor: pointer;
  background-color: var(--button-color);
  border: none;
  padding: var(--button-padding);
  border-radius: 2rem;
  color: white !important;
}
.side-bar {
  position: fixed;
  right: 0;
  height: 100vh;
  top: 3rem;
  width: 15rem;
  z-index: 1111;
  background: #F5FAFE;
}
.side-bar {
  text-align: center;
}
.side-bar ul li {
  margin: 1rem;
}
.navbar .navs ul li i,
.side-bar ul li i {
  padding: 0.33rem;
}
#sidebar {
  display: none;
  font-size: 24px;
}
@media screen and (max-width:761px) {
  #sidebar {
    display: block;
  }
  .navbar .navs ul li,
  .navbar .button {
    display: none;
  }
}
/* hero */
.home .hero,
.home .about-us,
.home .companies,
.home .services,
.home .services .section-header, .home .services .containers .container,
.home .training,
.home .feedback {
  padding: var(--nav-padding);

}
.hero {
  /* background-image: url("hero.svg"); */
  background-image: url("home.png");
  width:100%;
  padding-top:80px;
  background-size: cover;
  height: 100vh;
  background-position:center;
  background-repeat: no-repeat;
  padding-left: 50px;
  gap: 1.2rem;
  padding-right: 7rem !important;
}
.star{
    display: inline;
    color:goldenrod;
}
.google{
    border-collapse: collapse;
    border-style:groove;
    border-radius: 9px;
    border-color: #3e3e3f;
    width: 200px;
}
.grid-container1{
  padding-top: 50px;
  background: #F5FAFE;
  height:75vh;
  display: grid;
  gap:30px;
  padding-left: 90px;
  padding-right: 90px;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}
span{
  color: blue;
  }
.grid{
  display: grid;
  gap:30px;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}
.companies{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr !important;
  gap: 2rem;
  width: 100%;
  background-color:white;
} 
.companies img {
  width:80%;
}
#img1 img {
  width:48%;
}
.sec-1{
  width:100%;
  height:23vh;
  background-color: white;
  padding-top:30px;
  padding-left:70px;
  padding-right:50px;
}
.img{
  display: block;
  padding-top: 0%;
  width:100%;
}
/* .imgflex{
  box-shadow: 10px 9px 10px #ccc;
  -webkit-box-shadow: 5px 15px 5px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
   border-radius: 50px;
}  */
 #services{
  padding-top:50px;
  padding-left:150px;
  padding-right:100px;
 }
.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height:100%;
  padding: 20px 20px 0 20px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}
.services .service-box .icon {
  font-size: 36px;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}
.services .service-box h3 {
  color: #444444;
  font-family: var(--h2-font-family);
  line-height: var(--h3-height);
  font-weight: 600;
  font-size: 20px;
}
.home .services{
  margin-top: 4rem;
}
.section-header p ,.training .head p{
  width: 50%;
}
.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 20px 20px 0 20px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}
.services .service-box .icon {
  font-size: 36px;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}
.services .service-box h3 {
  color: #444444;
  font-family: var(--h2-font-family);
  line-height: var(--h3-height);
  font-weight: 600;
  font-size: 20px;
}
.home .services{
  margin-top: 4rem;
}
.section-header p ,.training .head p{
  width: 50%;
}

.services .service-box p,
.section-header p,
.home .training .header p,
.feedback p,
.footer .container .box p,.services .container .containers .box p {
  color: #8E8E8E;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--h2-font-family);
  line-height: 20px;
}
.services .container .containers{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2.5rem 1.5rem ;
}
.services .container .containers .box p{
  font-family: var(--nav-font-family);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.services .container .containers .box{
  text-align: center;
  box-shadow:0px 0px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 0.7rem 1.3rem 0.1rem 1.3rem;
  line-height: 4rem;
  /* position: relative; */
}
.services .container .containers .box:hover{
background: #0C59DB1A;
transition: transform 0.5s ease;
}

.services .container .containers .box a:hover i{
  transform: translateX(0.3rem);
  transition: transform 0.5s ease;
}
.services .container .containers .box a{
  text-decoration: none;
  color: #1B1C1D;
  /* position: absolute; */
}
.services .container .containers .box a span{
  font-size: 15px;
  font-weight: 500;
} 
.services .container .containers .box:hover .img span{
  background: #d2dafb;
}
.services .container .containers .box .img span{
  color: #1424FF;
  background: #e8eaff;
  padding: 0.77rem;
  border-radius: 0.7rem;
}
.services .container .containers .box h4{
  font-size: 18px;
  font-weight: 700;
  font-family: var(--nav-font-family);
  margin: 1rem;
  color: #444444;
}
.sec-1{
  width: 100%;
  height:23vh;
  background-color: white;
}
.training {
  margin-top: 4.5rem;
}
.training .container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  margin: 1rem auto 1.6rem auto;
  align-items: normal;
}
.training .container .box{
  background: #ECECF2;
  padding: 0.9rem 1.5rem;
  border-radius: 6px;
}
.training .container .box h6,.training .container .box p{
  font-size: 13.5px;
  font-weight: 400;
  color: #8A8A9A;
  line-height: 18px;
}
.training .container .box h4{
  font-size: 20px;
  font-weight: var(--nav-font-weight);
  line-height: var(--h4-height);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  gap:20px;
}
.content {
  flex: 1 1 40%;
  min-width: 300px;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.accordion {
  flex: 1 1 50%;
  min-width: 300px;
}

.accordion-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.accordion-header {
  padding: 15px;
  background: #f7f7f7;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header:hover {
  background: #e0e0e0;
}

.accordion-content {
  padding: 15px;
  display: none;
  font-size: 14px;
  background: #fff;
}

.accordion-content.active {
  display: block;
}
.grid-container2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer {
  background: #F5FAFE;
  padding-left:90px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}
/* .footer img {
  margin-bottom: 2rem;
} */
.footer .container .box .email {
  font-size: var(--h4-size);
}
.footer .container .box p a {
  font-size: 19px;
  text-decoration: underline;
}
.footer .container .box ul li{
  list-style: none;
}
.footer .container .box p{
font-weight: 550;
}
.footer .container .box ul{
  padding-left: 0rem !important;
}
.footer .container .box ul li{
  padding-top: 0.5rem;
}
.footer .container .box ul li a{
  font-size: 13.5px;
  position: relative;
}
.footer .container .box ul li a::after{
  content: "";
  position: absolute;
  background-color: #0c2d3e;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.footer .container .box ul li a:hover::after{
width: 100%;
}
.footer .pvt{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #4D4C4C;
  padding: 0.6rem 0.2rem 0.6rem 0.2rem;
  align-items: center;
}
.footer .pvt p{
  margin-bottom: 0;
}
.footer .pvt .img{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .pvt .social_icons i{
 padding: 1rem;
 color: #1B1C1D;
}
.footer .pvt .img img{
  padding: 0;
  margin-bottom: 0;
}
.hero{
  display:grid;
  grid-template-columns: auto auto;
  padding-left: 30px;
  /* width: 300%; */
}
.about-us{
  grid-template-columns: auto;
  display: grid;  
}
.google-text, .home .about-us{
  flex-direction: column;
  align-items: center;
}
.home .about-us{
  text-align: center;
  padding-top: 2rem;
}
.home .about-us .content p {
  width: 100%;
}.hero{
  display:grid;
  grid-template-columns: auto auto;
  padding-left: 30px;
  /* width: 300%; */
}
.about-us{
  grid-template-columns: auto;
  display: grid;  
}
.google-text, .home .about-us{
  flex-direction: column;
  align-items: center;
}
.home .about-us{
  text-align: center;
  padding-top: 2rem;
}
.home .about-us .content p {
  width: 100%;
}
.companies .img img{
  width:90% !important;
 }
 @media screen and (max-width:901px) {
  .hero {
    display:grid;
    background-image: url(home.png);
    width: 100%;
    height: 950px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 150px;  
  }
.home2img{
  display:grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding-left: 150px; 
}
.grid-container1{
  display: grid;
  grid-template-columns: 1fr;
  background: #F5FAFE;
  height: 700px;
  justify-content: center;
  align-items: center;
  padding-top:40px;
}
h3{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.sec-1{
  padding-top:70px;
  padding-bottom: 50px;
}
.container{
  display: grid;
  grid-template-columns: auto;
}
.content h1{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.content img{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding-right:150px;
}
 }


 @media screen and (max-width:900px) {
  .hero {
    display:grid;
    background-image: url(home.png);
    width: 100%;
    height: 950px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 150px;  
  }
.home2img{
  display:grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding-left: 150px; 
}
.grid-container1{
  display: grid;
  grid-template-columns: 1fr;
  background: #F5FAFE;
  height: 700px;
  justify-content: center;
  align-items: center;
  padding-top:40px;
}
h3{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.sec-1{
  padding-top:70px;
  padding-bottom: 50px;
}
.container{
  display: grid;
  grid-template-columns: auto;
}
.content h1{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.content img{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding-right:150px;
}
 }

 @media screen and (max-width:800px) {
  .hero {
    display:grid;
    background-image: url(home.png);
    width: 100%;
    height: 950px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 150px;  
  }
  .home1img{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-right:190px !important;
  }
.home2img{
  display:grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding-left: 150px; 
}
.grid-container1{
  display: grid;
  grid-template-columns: 1fr;
  background: #F5FAFE;
  height: 700px;
  justify-content: center;
  align-items: center;
  padding-top:40px;
}
h3{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.companies{
  display: grid;
  grid-template-columns: auto auto auto !important;
  justify-content: center;
  align-items: center;
}
.sec-1{
  padding-top:70px;
  padding-bottom: 290px;
}
.service h1 p{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding-right:150px;
}
.services .container .containers {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  gap: 2.5rem 1.5rem;
}
.training .container{
      display: grid ;
      grid-template-columns: auto auto;
      gap: 1rem;
      margin: 1rem auto 1.6rem auto;
      align-items: normal;
}
.container{
  display: grid;
  grid-template-columns: auto;
}
.content h1{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.content img{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding-right:150px;
}
 }
 @media screen and (max-width:700px) {
  .home .feedback .container, .faq,   .footer .container{
    grid-template-columns: auto;
  }
  .data{
    display: inherit;
    margin-left: 0 !important;
  }
  .footer .pvt{
    flex-direction: column;
  }
  .footer .container .box p {
    font-weight: 700;
    margin-top: 1.5rem !important;
    margin-bottom: 0 !important;
}
  .services .container .containers{
    grid-template-columns: auto;
  }
  .home .services .container .containers {
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;
}
  .home-img{
    display: none;
  }
  .modal-content {
   width: 68vw !important;
  }
}

@media screen and (max-width:700px) {
  p, .training .head p {
    width: 80%;
}
.grid-container1{
  display: grid;
  grid-template-columns: 1fr;
  background: #F5FAFE;
  height:800px;
  justify-content: center;
  align-items: center;
  padding-top:40px;
}
.grid-container1 p{
padding-left: 100px;
width: 500px;
}
/* .home .services #container, .about-us .content, .training .head, .training .container, .feedback, .feedback .google, .feedback h3, .feedback p, .feedback .container, .faq, .faq .img, .faq .accordion, .footer, .footer .container, .footer img {
  padding: 0.1rem 1.6rem 0.1rem 1.6rem;
} */
.footer .container{
display: grid;
grid-template-columns: auto auto auto;
gap: 0;
}
.footer img{
display: grid;
padding: 2rem 0;
margin: auto;
}
.home .feedback .container, .faq,   .footer .container{
  grid-template-columns: auto;
}
.data{
  display: inherit;
  margin-left: 0 !important;
}
.footer .pvt{
  flex-direction: column;
}
.footer .container .box p {
  font-weight: 700;
  margin-top: 1.5rem !important;
  margin-bottom: 0 !important;
}
}

 @media screen and (max-width:770px) {
  .home .feedback .container, .faq,   .footer .container{
    grid-template-columns: auto;
  }
  .data{
    display: inherit;
    margin-left: 0 !important;
  }
  .footer .pvt{
    flex-direction: column;
  }
  .footer .container .box p {
    font-weight: 700;
    margin-top: 1.5rem !important;
    margin-bottom: 0 !important;
}
  .services .container .containers{
    grid-template-columns: auto;
  }
  .home .services .container .containers {
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;
}
  .home-img{
    display: none;
  }
  .modal-content {
   width: 68vw !important;
  }
}
@media screen and (max-width:780px) {
  .training .container{
    grid-template-columns:auto auto !important;
  }
}
@media screen and (max-width:600px) {
  .hero {
    display:grid;
    background-image: url(home.png);
    width:102%;
    height: 970px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 150px;  
  }
.home2img{
  display:grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding-left: 150px; 
}
.grid-container1{
  display: grid;
  grid-template-columns: 1fr;
  background: #F5FAFE;
  height:800px;
  justify-content: center;
  align-items: center;
  padding-top:40px;
}
.grid-container1 p{
  padding-left: 70px;
  width: 500px;
  }
h3{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.sec-1{
  padding-top:70px;
  padding-bottom:190px;
}
.container{
  display: grid;
  grid-template-columns: auto;
}
/* .content h1{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.content img{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding-right:150px;
} */
p, .training .head p {
width: 100%;
}
/* .home .services #container, .about-us .content, .training .head, .training .container, .feedback, .feedback .google, .feedback h3, .feedback p, .feedback .container, .faq, .faq .img, .faq .accordion, .footer, .footer .container, .footer img {
  padding: 0.1rem 1.6rem 0.1rem 1.6rem;
} */
.footer .container{
display: grid;
grid-template-columns: auto auto auto;
gap: 0;
}
.footer img{
display: grid;
padding: 2rem 0;
margin: auto;
}
.home .feedback .container, .faq,   .footer .container{
  grid-template-columns: auto;
}
.data{
  display: inherit;
  margin-left: 0 !important;
}
.footer .pvt{
  flex-direction: column;
}
.footer .container .box p {
  font-weight: 700;
  margin-top: 1.5rem !important;
  margin-bottom: 0 !important;
}

.services .service-box p,
.section-header p,
.home .training .header p,
.feedback p,
.footer .container .box p,.services .container .containers .box p {
  color: #8E8E8E;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--h2-font-family);
  line-height: 20px;
  width: 200px;
}
 #training .header h2 {
width: 170%;
padding-left: 20px !important;
}
 #training .header p {
width: 170%;
padding-left: 20px !important; 
}
 #training .header img {
width: 90%;
}
 .training .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:150px;
}
  }

@media screen  and (max-width:500px){
  .hero {
    display:grid;
    background-image: url(home.png);
    width:100%;
    height: 1185px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 150px;  
  }
  .grid-container{
    font-style: oblique;
    font-weight: 700;
    font-size: 20px;
    width:88%;
    padding-left: 40px;
  }
  .google{
    border-collapse: collapse;
    border-style: groove;
    border-radius: 12px;
    border-color: #3e3e3f;
    width: 250px;
  }
.home1img{
  padding-left:30px;
}
.home2img{
  display:grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding-left:90px; 
}
.grid-container1 {
  display: grid;
  grid-template-columns: 1fr;
  background: #F5FAFE;
  height: 800px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 390px;
}
.grid{
  display:grid;
  grid-template-columns: auto;
  width: 450px;
  padding-left: 50px;
}
.grid-container1 p{
  padding-left: 70px;
  width: 500px;
}
h3{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.sec-1{
  padding-top:70px;
  padding-bottom:190px;
}
.container{
  display: grid;
  grid-template-columns: auto;
}
.content h1{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
/* .services .service-box p, .section-header p, .home .training .header p, .feedback p, .footer .container .box p, .services .container .containers .box p {
  color: #8E8E8E;
  font-weight: 400;
  font-size: 19px;
  font-family: var(--h2-font-family);
  line-height: 20px;
  width: 90%;
} */
.head .header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding-right: 10px;
}
.content img{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  padding-left: 2px;
}
/* .home .services #container, .about-us .content, .training .head, .training .container, .feedback, .feedback .google, .feedback h3, .feedback p, .feedback .container, .faq, .faq .img, .faq .accordion, .footer, .footer .container, .footer img {
  padding: 0.1rem 1.6rem 0.1rem 1.6rem;
} */
.footer .container{
display: grid;
grid-template-columns: auto auto auto;
gap: 0;
}
.footer img{
  display: grid;
          margin: auto;
          width: 300px;
          padding-right: 90px;
}
.home .feedback .container, .faq,   .footer .container{
  grid-template-columns: auto;
}
.data{
  display: inherit;
  margin-left: 0 !important;
}
.footer .pvt{
  flex-direction: column;
}
.footer .container .box p {
  font-weight: 700;
  margin-top: 1.5rem !important;
  margin-bottom: 0 !important;
}
.leway{
  width:300px;
}
.services .service-box p,
.section-header p,
.home .training .header p,
.feedback p,
.footer .container .box p,.services .container .containers .box p {
  color: #8E8E8E;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--h2-font-family);
  line-height: 20px;
  width: 200px;
}
 /* #training .header h2 {
width: 170%;
padding-left: 90px !important;
}
 #training .header p {
width: 170%;
padding-left: 90px !important;
}
 #training .header img {
width: 90%;
}
 .training .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:60px;
} */
.training .container {
  grid-template-columns: auto !important;
}
.training .head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:5px;
  padding-left: 150px;
  padding-right: 150px;
}

}

@media screen  and (max-width:400px){
  .hero {
    display:grid;
    background-image: url(home.png);
    width:100%;
    height: 970px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    /* padding-left: 150px;   */
  }
  .grid-container{
    font-style: oblique;
    font-weight: 700;
    font-size: 20px;
    width:81%;
    padding-left:1px;
  }
  .home1img{
  .hide{
    display: none !important;
  }
}
  .google{
    border-collapse: collapse;
    border-style: groove;
    border-radius: 12px;
    border-color: #3e3e3f;
    width: 250px;
  }
/* .grid-container1{
  padding-top:200px;
  background: #F5FAFE;
  height:75vh;
  display: grid;
  gap:30px;
  padding-left: 90px;
  padding-right: 90px;
  grid-template-columns: auto ;
  justify-content: center;
  align-items: center;
} */
.home2img{
  display:grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding-left:90px; 
}
.grid-container1{
  display: grid;
  grid-template-columns: 1fr;
  background: #F5FAFE;
  height: 999px;
  justify-content: center;
  align-items: center;
  padding-top:30px;
}
.grid{
  display:grid;
  grid-template-columns: auto;
  width: 390px;
  /* padding-left: 50px; */
}
.grid-container1 p{
  padding-left: 70px;
  width: 400px;
}
h3{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.sec-1{
  padding-top:70px;
  padding-bottom:190px;
}
.container{
  display: grid;
  grid-template-columns: auto;
}
.content h1{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
/* .services .service-box p, .section-header p, .home .training .header p, .feedback p, .footer .container .box p, .services .container .containers .box p {
  color: #8E8E8E;
  font-weight: 400;
  font-size: 19px;
  font-family: var(--h2-font-family);
  line-height: 20px;
  width: 90%;
} */
.training .container {
  grid-template-columns: auto !important;
}
.training .head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:5px;
}
#training .header p {
  width: 417px;
  padding-left: 141px !important;
}
#training .header h2 {
  width: 282px;
  padding-left: 136px !important;
}

.head .header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding-left: 20px;
  padding-right:140px;
}
.leway{
padding-left: 20px;
padding-right: 10px !important;
}
.content img{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  padding-left: 2px;
}
/* p, .training .head p {
width: 100%;
} */
/* .home .services #container, .about-us .content, .training .head, .training .container, .feedback, .feedback .google, .feedback h3, .feedback p, .feedback .container, .faq, .faq .img, .faq .accordion, .footer, .footer .container, .footer img {
  padding: 0.1rem 1.6rem 0.1rem 1.6rem;
} */
.footer .container{
display: grid;
grid-template-columns: auto auto auto;
gap: 0;
}
.footer img{
  display: grid;
          margin: auto;
          width: 300px;
          padding-right: 90px;
}
.home .feedback .container, .faq,   .footer .container{
  grid-template-columns: auto;
}
.data{
  display: inherit;
  margin-left: 0 !important;
}
.footer .pvt{
  flex-direction: column;
}
.footer .container .box p {
  font-weight: 700;
  margin-top: 1.5rem !important;
  margin-bottom: 0 !important;
}
}

@media screen  and (max-width:300px){
  .hero {
    display:grid;
    background-image: url(home.png);
    width:100%;
    height:790px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 150px;  
  }
  .grid-container{
    font-style: oblique;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    padding-left: 11px;
    padding-right: 37px;
  }
  .google{
    border-collapse: collapse;
    border-style: groove;
    border-radius: 12px;
    border-color: #3e3e3f;
    width: 275px;
  }
.grid-container img{
  width:99px !important;
}
.home1img{
  .hide{
    display: none !important;
  }
}
.home2img{
  display:grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding-left:15px; 
}
/* .home1img{
  display:grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 370px;
  align-items: center;
} */
.grid-container1{
  display: grid;
  grid-template-columns: 1fr;
  background: #F5FAFE;
  height:945px;
  justify-content: center;
  align-items: center;
  padding-top:15px;
}
.grid{
  display:grid;
  grid-template-columns: auto;
  width: 300px;
  padding-left:25px;
}
.grid-container1 p{
  padding-left:50px;
  width: 300px !important;
}
h3{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  font-size: 40px !important;
}
.sec-1{
  padding-top:70px;
  padding-bottom:190px;
  padding-left: 30px;
}
.companies {
  display: grid;
  grid-template-columns: auto auto auto!important;
  justify-content: center;
  align-items: center;
  width: 320px;
  padding-right: 50px;
}
#services {
  padding-top:50px;
  padding-left: 120px;
  padding-right: 100px;
}
.container{
  display: grid;
  grid-template-columns: auto;
}
.content h1{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.head .header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:200%;
  padding-right:1px;
}
.leway{
  padding-left: 55px;
}
.content img{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;  
  align-items: center;
}
 .footer {
padding-left:30px;
 }
}


@media screen  and (max-width:250px){
  .hero {
    display:grid;
    background-image: url(home.png);
    width:100%;
    height:890px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 155px;  
  }
  .grid-container{
    font-style: oblique;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    padding-left: 11px;
    padding-right: 37px;
  }
  .google{
    border-collapse: collapse;
    border-style: groove;
    border-radius: 12px;
    border-color: #3e3e3f;
    width: 225px;
  }
.grid-container img{
  width:65px !important;
}
.home1img{
  .hide{
    display: none !important;
  }
}  
 .companies {
  display: grid;
  grid-template-columns: auto auto !important;
  justify-content: center;
  align-items: center;
  width: 290px;
  padding-right: 50px;
}
#services {
  padding-top:140px;
  padding-left: 120px;
  padding-right: 100px;
}
#home2img{
  width: 270px;
  height:245px;
  object-fit: cover;
}
/* .home1img{
  display:grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 370px;
  align-items: center;
} */
.grid-container1{
  display: grid;
  grid-template-columns: 1fr;
  background: #F5FAFE;
  height:1050px;
  justify-content: center;
  align-items: center;
  padding-top:15px;
}
.grid{
  display:grid;
  grid-template-columns: auto;
  width:245px;
  padding-left:38px;
}
.grid-container1 p{
  padding-left:49px;
  width:255px !important;
}
h3{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  font-size: 40px !important;
}
.sec-1{
  padding-top:30px;
  padding-bottom:190px;
  padding-left: 20px;
}
.container{
  display: grid;
  grid-template-columns: auto;
}
.content h1{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.head .header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:200%;
  padding-right:75px;
}
.leway{
  padding-left: 55px;
}
.content {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;  
  align-items: center;
  padding-left: 40px;
}
.accordion{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;  
  align-items: center;
  padding-left: 30px;
}
#email p{
 font-size: 22px;
}
 
}